@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Teko);
@import "./reset";

$baseColor: #0ff;
$accentColor: #FF530D;
$blue: #00f;

body {
    font-size: 12px;
    font-family: sans-serif;
    background: #666;

    .wrapper {
        header {
            border-bottom: 1px solid $baseColor;
            position: relative;
            line-height: 1;
            height: 70px;
            box-sizing: border-box;

            h1 {
                max-width: 980px;
                margin: 0 auto;
                padding-top: 10px;

                .logo {
                    display: inline-block;
                    width: 48px;
                    height: 48px;
                    vertical-align: middle;
                    margin-right: 10px;
                }

                span {
                    font-size: 36px;
                    line-height: 1;
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 600;
                    font-family: 'Teko', sans-serif;
                    margin-top: 5px;
                    color: #fff;
                }

                p {
                    display: inline-block;
                    color: #fff;
                    margin-left: 10px;
                    font-weight: 600;
                    vertical-align: top;
                    padding-top: 24px;
                }

                ul {
                    display: inline-block;
                    margin-left: 70px;
                    vertical-align: middle;

                    li {
                        font-size: 18px;
                        color: #fff;
                        display: inline-block;
                        transition: .3s;
                        cursor: pointer;

                        &+li {
                            margin-left: 30px;
                        }

                        &:hover,
                        &.on {
                            color: $accentColor;
                        }
                    }
                }
            }
        }

        >ul {
            max-width: 980px;
            width: 980px;
            margin: 0 auto;
            font-size: 12px;
            box-sizing: border-box;

            li {
                margin-top: 30px;
                position: relative;

                &+li {
                    display: none;
                }

                nav {
                    text-align: center;
                    font-size: 14px;
                    padding: 0;
                    width: 100px;
                    height: 100px;
                    line-height: 98px;
                    border: 1px solid $baseColor;
                    box-sizing: border-box;
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #fff;
                    background: rgba(255, 255, 255, .1);
                }

                dl {
                    padding: 30px 30px;
                    margin-left: 130px;
                    border: 1px solid $baseColor;
                    color: #fff;
                    background: rgba(255, 255, 255, .1);

                    dt {
                        font-size: 18px;
                        font-weight: 600;
                        padding-bottom: 15px;
                    }

                    dd {
                        display: flex;
                        align-items: center;

                        &+dd {
                            margin-top: 20px;
                        }

                        &+dt {
                            margin-top: 30px;
                        }

                        label {
                            display: flex;
                            cursor: pointer;

                            input[type="checkbox"] {
                                display: none;

                                &:checked+span {

                                    &:before,
                                    &:after {
                                        opacity: 1;
                                    }
                                }
                            }

                            span {
                                display: inline-block;
                                vertical-align: middle;
                                position: relative;
                                width: 16px;
                                height: 16px;
                                box-sizing: border-box;
                                position: relative;
                                margin-right: 15px;
                                margin-top: 2px;
                                background: #fff;

                                &:before,
                                &:after {
                                    opacity: 0;
                                    transition: .3s;
                                    position: absolute;
                                    content: '';
                                    background: $accentColor;
                                }

                                &:before {
                                    width: 4px;
                                    height: 8px;
                                    top: 5px;
                                    left: 2px;
                                    transform: rotate(-45deg);
                                    transform-origin: top top;
                                }

                                &:after {
                                    width: 4px;
                                    height: 14px;
                                    top: 0px;
                                    left: 8px;
                                    transform: rotate(45deg);
                                    transform-origin: top top;
                                }
                            }
                        }

                        p {
                            display: none;
                            padding: 15px 15px;
                            background: #999;
                            margin-left: 20px;

                            input[type="color"] {
                                background: transparent;
                                padding: 0;
                                border: 0;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                            }

                            input[type="text"] {
                                width: 60px;
                                background: #fff;
                                border: none;
                                padding: 1px 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}